p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p {
  font-size: 0.95rem;
}
li {
  font-size: 0.95rem;
}

/*--- LOGO ---*/

.toc-logo {
  width: 150px !important;
  object-fit: contain;
  margin: 0 0;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.summary > li:first-child {
  height: auto !important; 
}

strong {
  font-weight: 600;
}

span { font-weight: bold; }
